Package: com.landonepps.reveal3loader
Name: Reveal3Loader
Depends: mobilesubstrate, preferenceloader, com.opa334.altlist
Version: 1.0
Architecture: iphoneos-arm
Description: Reveal2Loader updated for Reveal 3+ and iOS 15/16.
Maintainer: Landon Epps
Author: Landon Epps
Section: Tweaks
